body{
    font-family: 'Amatic SC', 'arial';
    background:#a9a9a9;
}
#questionarea{
    font-size:250%;
    padding:3%;
    width:90%;
    height:85%;
    background:white;
    position:absolute;
    box-shadow:4px 4px 2px grey;
    overflow:auto;
    overflow-x:hidden;
}
#questionarea input{
    height:8%;
    position:absolute;
    margin-top:2%;
    border:none;
    border-bottom:2px solid black;
    font-size:30px;
    width:40%;
    padding:0px;
}
*:focus{
    outline:none;
}
.btn{
    position:absolute;
    margin-top:-3.1%;
    margin-left:-3.1%;
    border:none;
    padding:13px;
    width:100%;
    cursor:pointer;
    background:#00ff00;
}
.btn:hover{
    background:#00bc02;
    color:black;
}
.problemlist{
    margin-top:-4%;
}
